.ant-btn-primary {
  background: #000;
  color: #fff;
  border-color: #000;
}

.hsbcbtn.ant-btn {
  background: #db0011 !important;
  color: #fff !important;
  border-color: #db0011 !important;
}
.hsbcbtn.ant-btn:hover,
.hsbcbtn.ant-btn:focus {
  background: #ba1110 !important;
  border-color: #ba1110!important;
  color: #fff !important;
}

.hsbcbtn.ant-btn:active {
  background: #730014 !important;
  border-color: #730014 !important;
  color: #fff !important;
}

.ant-message .ant-message-error {
  color: #ff4d4f;
}

.ant-message .ant-message-error .anticon {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  color: inherit;
}

.ant-message .ant-message-error .anticon svg {
  display: none !important;
}

.ant-message .ant-message-error .anticon::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../assets/statusWarning.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  line-height: 1;
}
